.colors {
  width: 100%;
  margin: 0 auto;
}

.colors div {
  width: 100%;
  height: 25px;
}

.card {
  margin: 0 auto;
  margin-bottom: 15px;
  position: relative;
  display: inline-block;
}

.row {
  text-align: center;
}
