.main {
  margin-top: 15px;
}

.main .card {
  margin: 0 auto;
  margin-bottom: 15px;
  position: relative;
  display: inline-block;
}

.main .row {
  text-align: center;
}

.colors {
  width: 100%;
  margin: 0 auto;
}

.colors div {
  width: 100%;
  height: 25px;
}
